.dashboard {
  display: flex;
  height: 100vh;
  background: #f5f6fa;
}

.main {
  flex: 1;
  padding: 25px;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.charts {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.bottom {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}